@font-face {
  font-family: 'geomanist-regular';
  src: local('geomanist-regular'), url(./assets/fonts/geomanist-regular-webfont.ttf) format('truetype');
}

@font-face {
  font-family: 'geomanist-italic';
  src: local('geomanist-italic'), url(./assets/fonts/geomanist-regular-italic-webfont.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
